.modal {
  position: fixed;
  inset: 0;

  display: none;
  justify-content: center;
  align-items: center;

  background: rgba(0,0,0,0.6);

  z-index: 999999;
}

.modal-content {
  background: rgba(255,255,255,0.08);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(20px);

  padding: 20px;
  border-radius: 14px;
  min-width: 300px;

  color: white;
}